<!DOCTYPE html>
<html ng-app="blog">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title ng-bind-template="{{title}}"></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="blog.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div ng-controller="HeadCtrl">
    <h1>{{title}}</h1>

    <h3>{{description}}</h3>
</div>
<div ng-controller="ContentCtrl">
    <new-post-area post="new_post" cancel-text="Cancel" save-text="Save" cancel="cancel" save="save"></new-post-area>

    <div id="posts-form">
        Order By: <select ng-model="order">
        <option value="title">Title</option>
        <option value="date">Date</option>
    </select>
        <input type="checkbox" ng-model="descending"/> Descending <br/>
        Search: <input type="text" ng-model="filter"/>
    </div>

    <ng-view></ng-view>

    <hr>
    <a ng-click="about()">About</a>

</div>
<!-- directive: copyright -->
<script type="text/ng-template" id="posts">
    <div id="{{post.id}}" ng-repeat="post in posts|orderBy:order:descending|filter:filter" ng-class-even="'even'"
         ng-class-odd="'odd'">
        <ng-include src="'post'"></ng-include>
    </div>
</script>

<script type="text/ng-template" id="post">
    <ng-switch on="post.editing">
        <div ng-switch-when="true">
            <div class="important-background-color" color="#EEE">
                <input type="text" ng-model="post.temp.title"/><br/>
                <textarea ng-model="post.temp.body"></textarea><br/>
                <button ng-click="cancel(post)">Cancel</button>
                <button ng-click="save(post)">Save Changes</button>
            </div>
        </div>
        <div ng-switch-default>
            <h2 ng-click="edit(post)">{{post.title}}</h2>

            <p ng-click="edit(post)" ng-bind-html-unsafe="post.body"></p>

            <p><em>posted on {{post.date|date:'short'}} by {{post.author}}</em></p>
        </div>
        <hr/>
        <button ng-click="newPost()">New Post</button>
    </ng-switch>
</script>

<script type="text/ng-template" id="about">
    <div class="modal fade in">
        <div class="modal-header">About</div>
        <div class="modal-body">This is the blog of John Jacob Jingleheimer Schmidt.</div>
        <div class="modal-footer">
            <button data-dismiss="modal">Got it</button>
        </div>
    </div>
</script>

</body>
</html>